<p>{{title}}</p>
<h1>Device Detail View</h1>


<div *ngFor="let device of devices">
  <app-device-details [deviceDetail]="device"></app-device-details>
</div>

<app-template-form (deviceDetails) = "addNewDevice($event)" ></app-template-form>


<!-- <app-third (thirdOutput)="appEvent($event)"></app-third>
<app-fourth></app-fourth>
<app-fourth></app-fourth> -->
<!-- 

<div *ngIf="showComponent">
    <app-second></app-second>
</div> -->
<!-- <button (click)="showHide()">Show</button> -->


<!-- <p>Count: {{counter}}</p>

<div >

    <button (click)="addCount()">
      Add Count
    </button>

    <br><br>

    <button (click)="subCount()">
      Sub Count
    </button>

</div>

<app-second *ngIf = "counter > 5"></app-second> -->
